.cartCard {
  margin: 30px 0;
  position: relative;
}
.cartCard .loadingContainer {
  position: absolute;
  top: 30px;
  left: 40px;
}
.cartCard p {
  font-size: 14px;
}
.cartCard img {
  margin: auto;
  border-radius: 15px;
}
.cartCard .nameRow {
  display: flex;
  align-content: center;
  justify-content: space-between;
  height: 20px;
}
.cartCard .quantityContainer {
  display: flex;
  margin: auto 0;
  align-content: center;
  justify-content: center;
}

.cartCard .quantityNum {
  margin: auto 5px;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  color: grey;
}
.cartCard .quantityBtn {
  margin: 0 !important;
  margin: auto 0;
  max-width: 20px !important;
  max-height: 20px !important;
  min-width: 20px !important;
  min-height: 20px !important;
  border: none;
  background: none;
  cursor: pointer;
  font-size: 14px;
  color: grey;
  background: white;
  border-radius: 50%;
  border: 1px solid grey;
  position: relative;
  transition: 0.3s;
}
.cartCard .quantityBtn p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: grey;
}
.cartCard .quantityBtn:hover {
  filter: drop-shadow(0 0 10px #27a3d8);
}

.cartCard .priceRow {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 10px;
}
.cartCard .priceRow p {
  margin: auto 0;
}

.cartCard .infoContainer {
  width: 100%;
  padding: 20px;
}
.cartCard .deleteIcon {
  position: absolute;
  color: white;
  top: 5px;
  right: 5px;
  font-size: 14px;
  cursor: pointer;
}
.cartCard .deleteIcon:hover {
  color: #27a3d8;
}
