.fichaTecnica .container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  overflow: hidden;
  background: rgb(26, 28, 32);
  position: relative;
  z-index: 3;
}

.fichaTecnica .container img {
  width: 100%;
}

@media all and (max-width: 768px) {
}
