.cardLayout {
  width: 300px;
  height: 190px;
  border-radius: 15px;
  background: linear-gradient(324deg, #1042a5 0%, #27a3d8 100%);
  box-shadow: inset 2px 2px 3px rgb(255, 255, 255, 0.2),
    5px 5px 15px rgb(0, 0, 0, 0.2);
  position: relative;
  overflow: hidden;
  margin-bottom: 60px;
}
.cardLayout img {
  position: absolute;
  top: 20px;
  left: 20px;
  height: 40px;
  max-width: 80px;
  object-fit: contain;
}
.cardLayout .cardNumber {
  color: white;
  padding: 0;
  margin: 0;
  width: 100%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 80px;
  text-align: center;
  font-size: 16px;

  letter-spacing: 2px;
}
.cardLayout .cardName {
  color: white;
  padding: 0;
  margin: 0;
  position: absolute;
  left: 30px;
  bottom: 30px;
  text-align: center;
  letter-spacing: 1px;
  font-size: 14px;
  font-weight: bold;
}
